body{
    text-align: center;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
}
.ikl{
    text-decoration: underline;
    color: whitesmoke;
}

.leg{
    color: teal;
    font-size: large;
}
.stn:hover{
    color: yellow;
}
.stn{
    color: turquoise;
}
#input:focus{
    background-color:rgb(7, 62, 98);
    color:rgb(255, 23, 2);
}
input[type="radio"]:checked {
    box-shadow: 0 0 0 3px red;
  }
a:link{
    color: coral;
}
a:visited{
    color: chartreuse;
}
